.App {
  text-align: center;
  color: #FC4C02;
  background: url('./images/kom-killer-background.jpg') 0% 0% no-repeat;
}

.App section {
  min-height: 70vh;
}

.App section img {
  border-radius: 25px;
}

a {
  display: block;
  color: white;
}

button {
  height: 35px;
  color: white;
  background-color: #FC4C02;
  border-radius: 5px;
  font-weight: bold;
}

.loading-container {
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FC4C02;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-logo path, .App-logo circle {
  fill: white;
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.koms-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 45vh 1fr;
  background: #d3d3d3;
}

img.marker {
  border-radius: 25px;
  max-height: 25px;
}
